html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #1D3557;
  background-color: #f7f7f7;
  }

a {
  color: #237594;
}

a:visited {
  color: #590553;
}

a:hover, a:active {
  color: #B80AAD;
}

.noDotList {
  list-style-type: none;
  margin-left: -2rem;
}

* {
  box-sizing: border-box;
}
